<div class="container">
	<form id="confirmForm" ng-submit="submit()">
		<div class="form-group">
			<label for="user">Usuario:</label>
			<input type="text" class="form-control" id="user" ng-model="name">
			<br>
			<label for="lastname">Apellido:</label>
			<input type="text" class="form-control" id="lastname" ng-model="lastname">
			<br>
			<label for="email">Email:</label>
    		<input type="email" class="form-control" id="email" ng-model="email">
    		<br>
    		<label for="company">Compañia:</label>
			<input type="text" class="form-control" id="company" ng-model="company">
			<br>
			<input id="submitButton" type="submit" class="btn btn-primary" value="Confirmar asistencia" ng-disabled="submitDisabled">
		</div>
	</form> 
	<div ng-show="submitDisabled">
		<h3><i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>Confirmando asistencia ... </h3>
	</div>
	<div ng-show="response">
		<h3>{{response}}</h3>
	</div>
</div>