<div class="container">
	<form  ng-submit="submit()">
		<div class="form-group">
			<label for="id">Ingrese el ID de la confirmacion:</label>
			<input type="text" class="form-control" id="id" ng-model="id">
			<br>
			<input id="submitButton" type="submit" class="btn btn-primary" value="Consultar asistencia" ng-disabled="submitDisabled">
		</div>
	</form> 
	<div ng-show="submitDisabled">
		<h3><i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>Consultando asistencia ... </h3>
	</div>
	<div ng-show="response">
		<h3>{{response}}</h3>
	</div>
</div>