	<div class="panel panel-default">
	  	<!-- Default panel contents -->
	  	<div class="panel-heading"><b>Invitados con confirmación aceptada</b></div>		
	  	<div ng-show="searching">
    		<h1>Buscando invitados...<i class="fa fa-spinner fa-pulse fa-1x fa-fw" aria-hidden="true"></i></h1>
  		</div>
		<!-- Table -->
		<div ng-hide="searching">
			<table class="table" ng-show="showTable">
			  <tr>
			    <th>Nombre</th>
			    <th>Apellido</th>
			    <th>Email</th>
			    <th>Compañia</th>
			  </tr>
			  <tr ng-repeat="guest in guests track by $index">
			    <td>{{guest.Name}}</td>
			    <td>{{guest.LastName}}</td>
			    <td>{{guest.Email}}</td>
				<td>{{guest.Company}}</td>
			  </tr>
			</table>
			<p ng-hide="showTable">No se encontraron invitados</p>
		</div>
	</div>
	<nav aria-label="...">
	  <ul class="pager">
	    <li ng-class="previousClass"><a ng-click="getPreviousReport()"><span aria-hidden="true">&larr;</span> Prev</a></li>
	    <li ng-class="nextClass"><a ng-click="getNextReport()">Next <span aria-hidden="true">&rarr;</span></a></li>
	  </ul>
	</nav>