  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/issues"><i class="fa fa-bug fa-lg" aria-hidden="true"></i>&nbsp;Errors&nbsp;Concentrator</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li ng-class="issuesClass"><a href="#/issues">Issues<span class="sr-only">(current)</span></a></li>
        <li ng-class="reportsClass"><a href="#/reports">Reports</a></li>
        <li ng-class="functionsClass"><a href="#/functions">Functions</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#/issues"><i class="fa fa-user-circle-o fa-lg" aria-hidden="true"></i>&nbsp;{{username}}</a></li>
        <li><a href="#/"><i class="fa fa-sign-out fa-lg" aria-hidden="true"></i>&nbsp;Exit</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
  </nav>