<div ng-model="sendRequest">
  <div class="panel panel-default" ng-hide="hideForm">
    <div class="panel-heading">New Issue</div>
      <div class="panel-body">
        <form id="usrform" ng-submit="submit()">
         <div class="form-group">
            <input type="text" ng-model="application" name="application" class="form-control" placeholder="Application"  required>
            <br>
            <input type="text" ng-model="summary" name="summary" class="form-control" placeholder="Summary" required>
            <br>
            <input type="text" ng-model="os" name="os" class="form-control" placeholder="Operative System" required>
            <br>
            <textarea rows="10" ng-model="description" class="form-control" name="comment" form="usrform" placeholder="Description..."></textarea>
            <br>
            <input id="submitButton" type="submit" class="btn btn-primary btn-sm" value="Create">
            </div>
        </form>
      </div>  
    </div>
  </div> 
  <div ng-show="sendRequest">
    <h1>{{response}}</h1>
    <button id="back" class="btn btn-primary btn-sm" ng-click="back()">Back</button>
  </div>
  <div ng-show="creatingIssue">
    <h1>Creating issue...<i class="fa fa-spinner fa-pulse fa-2x fa-fw" aria-hidden="true"></i></h1>
  </div>
</div>