  <div class="panel panel-default">
    <div class="panel-heading">New Issue</div>
      <div class="panel-body">
        <form id="usrform">
         <div class="form-group">
            <input type="text" name="application" class="form-control" placeholder="Application"  required>
            <br>
            <input type="text" name="summary" class="form-control" placeholder="Summary" required>
            <br>
            <input type="text" name="os" class="form-control" placeholder="Operative System" required>
            <br>
            <textarea rows="10" cols="108" name="comment" form="usrform" placeholder="Description..."></textarea>
            <br>
            <br>
            <button id="submitButton" type="button" class="btn btn-primary btn-sm">Create</button>
            </div>
        </form>
      </div>  
    </div>
  </div> 
