<div class="container">
    <div ng-show="signIn">
        <br><br><br><br><br><br><br><br><br><br>
        <div class="modal-body row">
          <div class="col-md-6">
            <!-- Your first column here -->
            <i class="fa fa-bug fa-3x" aria-hidden="true">Errors Concentrator</i>
            <h3><i>Manage software products. Keep track of features, tasks and bugs</i></h3>
          </div>
          <div class="col-lg-6">
            <!-- Your second column here -->
            <form id="loginForm" name="loginForm" ng-submit="loginValidate()" novalidate>
                <input type="text" size="60" placeholder="Username" ng-model="username" required/>
                <br>
                <br>
                <input type="password" size="60" placeholder="Password" ng-model="password" required/>
                <br>
                <br>
                <input type="submit" value="Sign In" class="btn btn-primary" />
                <button class="btn btn-success" ng-click="register()">Sign up</button>
            </form>
          </div>
        </div>
    </div>
    <div ng-show="signUp">
        <br>
        <i class="fa fa-bug fa-3x" aria-hidden="true">Errors Concentrator - Sign up</i>
        <br>
        <br>
        <input type="text" size="60" placeholder="First name" required/>
        <br>
        <br>
        <input type="text" size="60" placeholder="Last name" required/>
        <br>
        <br>
        <input type="email" size="60" placeholder="e-mail" required/>
        <br>
        <br>
        <input type="text" ng-model="newUser" size="60" placeholder="Username" required/>
        <br>
        <br>
        <input type="password" size="60" placeholder="Password" required/>
        <br>
        <br>
        <button class="btn btn-success" ng-click="create()">Register</button>
        <button class="btn btn-primary" ng-click="back()">Back</button>
    </div>
    <div ng-show="created">
        <h1>The user {{newUser}} was created successfully!</h1>
        <button class="btn btn-primary" ng-click="back()">Back</button>
    </div>
</div>