<div ng-model="apps" >
	<div class="panel panel-default">
	  	<!-- Default panel contents -->
	  	<div class="panel-heading">Today's issues by application</div>		
	  	<div ng-show="searching">
    		<h1>Searching...<i class="fa fa-spinner fa-pulse fa-1x fa-fw" aria-hidden="true"></i></h1>
  		</div>
		<!-- Table -->
		<div ng-hide="searching">
			<table class="table" ng-show="showTable">
			  <tr>
			    <th>Application</th>
			    <th>#Issues</th>
			  </tr>
			  <tr ng-repeat="app in apps">
			    <td>{{app.application}}</td>
			    <td>{{app.count}}</td>
			  </tr>
			</table>
			<p ng-hide="showTable">No applications found</p>
		</div>
	</div>
	<nav aria-label="...">
	  <ul class="pager">
	    <li ng-class="previousClass"><a ng-click="getPreviousReport()"><span aria-hidden="true">&larr;</span> Back</a></li>
	    <li ng-class="nextClass"><a ng-click="getNextReport()">Next <span aria-hidden="true">&rarr;</span></a></li>
	  </ul>
	</nav>
</div>